 body{
   margin-left: 200px;
   margin-right: 200px;
 }
 a {
  color:#e27f7f;
}
 h1, h2{
   text-align: center;
 }
 .mid {
   text-align: center;
 }
 .float-left {
   float: left;
 }
 .outter{
   border-style: solid;
   border-top:0
 }
 #geo{
   padding: 40px;
 }
 .cntr{
   margin-left:auto;
   margin-right:auto;
 }
 #bike{
   float: right;
 }
 #globe{
   margin-left: 380px;
 }
 #galileo{
   float: right;
 }
